  te: text_expander {
      compatible = "zmk,behavior-text-expander";
      #binding-cells = <0>;
      expansion_btw {
          short_code = "btw";
          expanded_text = "by the way";
      };
      
      expansion_thx {
          short_code = "thx";
          expanded_text = "Thank you!";
      };
  };
